<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ if .IsPage }}
  <meta name="description" content="{{ .Summary }}" />
  {{ end }}

  <title>
    {{ if not .IsHome }} {{ .Title }} {{ else }} {{ $.Site.Title }} {{ end }}
  </title>

  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{ $.Site.Params.favicon | relURL }}"
  />

  {{ $scss := resources.Get "main.scss" }} {{ $style := $scss | resources.ToCSS
  | fingerprint }}
  <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" />

  <link
    rel="alternate"
    type="application/rss+xml"
    title="Engineering blog on 0x7f Inc."
    href="{{ $.Site.BaseURL }}post/index.xml"
  />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="Personal notes on 0x7f Inc."
    href="{{ $.Site.BaseURL }}personal/index.xml"
  />
</head>
